doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title Starter Node and Angular
    link(rel='stylesheet', href='/css/css.css')
    script(src='/js/js.js')
  body(ng-app='sampleApp', ng-controller='NerdController')
    .container
      nav.navbar.navbar-inverse
        .navbar-header
          a.navbar-brand(href='/') Stencil: Node and Angular
        ul.nav.navbar-nav
          li
            a(href='/nerds') Nerds
          li
            a(href='/geeks') Geeks
      div(ng-view='')
